p{
	font-family: "ROBOTO", sans-serif;
	-webkit-background-clip: text;
	background-image: linear-gradient(to left, #0096CC, #F705AA);
	color: transparent;
	font-size: 8rem;
    text-align: center;
    
}

